@media (max-width: 1440px) {
    .container{
        width: 80%;
    }
}
@media(max-width: 992px) {
.header-nav select{
    margin-left: 84px;
}
    .header-nav a {
        margin-left: 64px;
    }
    .hero{
        flex-direction: column;
    }
    .hero-text{
        text-align: center;
    }
    .as-img{
        flex-direction: column-reverse;
    }
    .asicon-txt{
        
    }
    
}